#dashboard-title {
    background-size: cover;
    background-image: url("../images/banner_image.png");
    color: white;
}


.well {
    background-color: rgb(115, 112, 145);
}

.panel {
    background-color: rgb(115, 112, 145); 
}
