#dashboard-title {
    background-size: cover;
    background-image: url("../images/banner_image.png");
    color: white;
}


.well {
    background-color: rgb(217, 215, 240);
}

.panel {
    background-color: rgb(217, 215, 240); 
}
