#dashboard-title {
    background-color: rgba(255, 127, 80, 0.644);
    background-size: cover;
}

.well {
    background-color: rgb(238, 207, 207);
}

.panel {
    background-color: rgb(238, 207, 207); 
}
